
    body {
        color: rgb(252, 252, 252); /*Que es la inteligencia artificial*/
    } 
    .descripcion {
  color: rgb(74, 121, 240);
}

    
    ol li {
        color: #1e90ff; /*Beneficios de la inteligencia artificial*/
    }


body {
        background-color: #000407; /*Tipos de inteligencia artificial*/
    }
 
ul {
  color: blue;
}
h2 {
  color: #f0f0f0;
}

